$primary-color: #333333;
$color-white: #fff;
$accent-color: #ff652f;
$color-gray: #f0f0f0;
$color-dark-gray: #919191;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', 'YuGothic';
    color: $primary-color;
}
a {
    color: $primary-color;
}
li {
    list-style-type: none;
}
@mixin section-title {
    color: $primary-color;
    font-size: 2rem;
}

@mixin transition-ease {
    transition: all .4s ease-in-out;
}
@mixin content-padding {
    padding-left: 15px;
    padding-right: 15px;
}
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }

@function set-color($color) {
    @if (lightness($color) > 40%) {
        @return #222;
    } @else {
        @return #fff;
    }
}
@mixin scroll-line {
    animation: scroll-line 1.6s ease-in-out infinite;
}                
@keyframes scroll-line {
    0% {
        left: 140px;
    }
    20% {
        left: 140px;
    }
    100% {
        left: -140px;
    }
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin checkbox {
    input[type=checkbox] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        width: 20px;
        vertical-align: -0.8rem;
        transition:all .15s ease-out 0s;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin: .4rem;
        outline: none;
        border-radius: 10%;
        border: 2px solid #111;
    }
    /* Checkbox */
    input[type=checkbox]:before,input[type=checkbox]:after {
        position: absolute;
        content: "";
        background: #fff;
        // background: red;
        transition: all .2s ease-in-out;
    }
    input[type=checkbox]:before {
        left: 2px;
        top: 6px;
        width: 0px;
        height: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
    input[type=checkbox]:after {
        right: 9px;
        bottom: 3px;
        width: 2px;
        height: 0;
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        -o-transform: rotate(40deg);
        transition-delay: .2s;
    }
    input[type=checkbox]:checked:before {
        left: 1px;
        top: 10px;
        width: 6px;
        height: 2px;
    }
    input[type=checkbox]:checked:after {
        right: 5px;
        bottom: 1px;
        width: 2px;
        height: 14px;
    }
    input[type=checkbox]:indeterminate:before,input[type=checkbox]:indeterminate:after {
        width: 7px;
        height: 2px;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    input[type=checkbox]:indeterminate:before {
        left: 1px;
        top: 7px;
    }
    input[type=checkbox]:indeterminate:after {
        right: 1px;
        bottom: 7px;
    }
    input[type=checkbox]:checked,
    input[type=checkbox]:indeterminate {
        background: #111;
    }
}
@mixin radio-btn {
    input[type=radio] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        width: 20px;
        vertical-align: -0.8rem;
        transition:all .15s ease-out 0s;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin: .4rem;
        outline: none;
        border-radius: 10%;
    }
    /* Radio */
    input[type=radio] {
        border-radius: 50%;
        border: 2px solid #111;
    }
    input[type=radio]:checked:before {
        transform: scale(1);
        background: #111;
    }
    input[type=radio]:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 3px;
        transform: scale(0);
        transition: all ease-out 250ms;
    }
}