$primary-color: #333333;
$color-white: #fff;
$accent-color: #ff652f;
$color-gray: #f0f0f0;
$color-dark-gray: #919191;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a {
    color: $primary-color;
}
li {
    list-style-type: none;
}
@mixin section-title {
    color: $primary-color;
    font-size: 2rem;
}

@mixin transition-ease {
    transition: all .4s ease-in-out;
}
@mixin content-padding {
    padding-left: 15px;
    padding-right: 15px;
}
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
      @return #000;
    } @else {
      @return #fff;
    }
  }

@function set-color($color) {
    @if (lightness($color) > 40%) {
        @return #222;
    } @else {
        @return #fff;
    }
}