.fv {
  height: 100vh;
  &__img {
      width: 75%;
    background: 
    linear-gradient(
        to right,
        rgba($primary-color, 0.3),
        rgba($primary-color, 0.3)
        ), 
    url('../../img/img-1.jpg') center top;
    height: 80vh;
    background-size: cover;
  }
  &__bg {
      background: #222222;
      width: 75%;
      height: 100vh;
      position: absolute;
      top: 0;
      z-index: -1;
      right: 0;
  }
  &__texts {
    // border: 1px solid red;
    position: absolute;
    padding-right: 1.5rem;
    right: 0;
    // width: 70%;
    top: 25vh;
    
    h2 {
        color: $color-white;
        font-size: 4rem;
    }
    h5 {
        color: $color-white;
        font-size: 1rem;
        font-weight: 500;
        &:nth-child(2) {
            margin-bottom: .5rem;
        }
    }
  }
}
.home-contents {
    padding: 0 0.2rem;
    margin-top: 3rem;
    .home-content {
        &__title {
            @include section-title;
            margin-bottom: 2rem;
        }
        &__img {
            width: 100%;
            margin-bottom: 1.3rem;
        }
        &__desc {
            margin-bottom: 1.3rem;
            font-size: 1rem;
            line-height: 2rem;
            color: $primary-color;
        }
        &.layout-b {
            @include content-padding;
            background: $color-gray;
            padding-top: 4rem;
        }
        &.layout-c {
            @include content-padding;
            padding-top: 3rem;
            padding-bottom: 3rem;

            
        }
        &__topics {
            margin-bottom: 1.3rem;
        }            
        &__topic {
            padding-top: 1.5rem;
            border-bottom: 1px solid $color-gray;
            &--date {
                color: $color-dark-gray;
                font-size: 0.7rem;
            }
            &--title {
                padding: 0.5rem 0 0.8rem;
            }
        }
        &:nth-child(5) {
            padding-bottom: 4rem;
        }
    }
    .layout-a {
        @include content-padding;
        padding-top: 50px;
        padding-bottom: 50px;
        background: 
    linear-gradient(
        to right,
        rgba($primary-color, 0.3),
        rgba($primary-color, 0.3)
        ), 
    url('../../img/img-3.jpg') center center;
        &__wrapper {
            margin: 0 auto;
            background: $color-white;
            padding: 50px 20px;
            // width: 95%;
            
        }
    }
}