@import 'config';
@import 'menu';
@import 'home';
@import 'about';
@import 'contact';
@import 'test';
@import 'responsive';

body {
    font-family: 'Montserrat', 'YuGothic';
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    .header-logo {
        padding: .7rem;
        &__link {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        &__img {
            margin-top: 3px;
            height: 1.8rem;
            margin-right: .3rem;
        }
        &__text {
            color: $color-white;
            font-size: 1.5rem;
            &--last {
                font-size: 1rem;
            }
        }
    }
}
.readmore-btn {
    background: #111;
    display: flex;
    width: 160px;
    height: 45px;
    align-items: center;
    justify-content: center;
    // padding: .8rem 2.6rem ;
    cursor: pointer;
    color: white;
    font-size: .8rem;
    font-weight: 600;
    @include transition-ease;

    &:hover {
        background: rgb(53, 53, 53);
        
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: $color-dark-gray;
    color: $color-white;
    font-size: .8rem;
}